# .NET Core
bin/
obj/
out/

# Папки создаваемые командой dotnet
*.db
*.db-journal

# NuGet пакеты
*.nupkg
packages/

# Отлаживаемые файлы и временные фалы
*.user
*.suo
*.sln.docstates

# Логи
*.log

# Кэш NuGet
.nuget/

# Папки временных файлов
.vs/
.idea/

# Результаты сборки
**/bin/
**/obj/

# Файлы конфигурации
appsettings.json
appsettings.*.json

# И другие файлы конфигурации, которые могут содержать конфиденциальную информацию
*.env

# Лицензии и конфиденциальные данные
*.pfx
*.p12

# Контейнеры Docker
Dockerfile
docker-compose.yml

# Каталоги и файлы, связанные с тестированием
TestResults/
*.TestResults

# Файлы резервных копий
*~ 
*.bak
*.swp

# Временные файлы редактора
*.tmp

# Макеты VS Code
.vscode/

# Удалите, если вам нужно хранить рабочие среды в репозитории
# *.sln
# *.csproj.user
